---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Edvance AI',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ****************** -->

  <Hero2
    tagline="Student-Led Non-profit"
    actions={[
    { variant: 'primary', text: 'Get Started', href: '/contact' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/hero-image.jpeg',
      alt: 'AstroWind Hero Image',
    }}
  >
  <Fragment slot="title">
    Building <span class="text-[#6ca1cd]">free</span> AI solutions for your organization
  </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        We're a student-led non-profit <span class="text-[#6ca1cd]"><strong> empowering students </strong></span> to build no-cost AI-enabled websites, chatbots, and tools for non-profits and small businesses. 
    </Fragment>
  </Hero2>

  <Features3
    title="Who we are"
    subtitle="We're a group of passionate high school students with experience developing AI tools for startups and research labs. We're excited to help you start your digital journey and serve more people with the following technologies:"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'AI-Enabled Websites',
        description:
          'Expand your reach, engage your audience, and build credibility by showcasing your mission, services, and achievements to billions of people.',
        icon: 'tabler:code',
      },
      {
        title: 'AI Chatbots',
        description:
          'Enhance customer engagement, provide instant support, and streamline operations by answering queries and automating routine interactions.',
        icon: 'tabler:robot',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "Increase your website's visibility, attract more traffic, and reach target audiences by optimizing websites for search engines like Google.",
        icon: 'tabler:browser',
      },
    ]}
  />
  
    <!-- Steps Widget ****************** -->
  <Steps
    title="How we'll help you"
    items={[
      {
        title: '1. <span class="font-medium">Connect with you</span>',
        description:
          "<strong>1-2 weeks: </strong>After reaching out, we'll collaboratively identify the features, design, and information you would like to include in dream AI-enabled website.",
        icon: 'tabler:mail',
      },
      {
        title: '2. <span class="font-medium">Build and design</span>',
        description:
          "<strong>3-4 weeks: </strong>Our team of skilled engineers and designers will build your AI-enabled website in accordance with your vision. We will periodically update you on our progress. ",
        icon: 'tabler:hammer',
      },
      {
        title: '3. <span class="font-medium">Launch to the world</span>',
        description:
          "<strong>1-2 weeks: </strong> After your approval, we'll launch your site to the public. Our team will ensure it's highly-ranked in Google Search so that you can reach more people.",
        icon: 'tabler:world',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
  />

  <!-- FAQs Widget

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Is AstroWind compatible with the latest versions of Astro and Tailwind CSS?',
        description:
          'Yes, AstroWind is designed to be compatible with the latest versions of both Astro and Tailwind CSS. This ensures that you can harness the full capabilities of these technologies while benefiting from the features offered by AstroWind.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AstroWind for both personal and commercial projects?',
        description: `Certainly! AstroWind is versatile and can be used for a wide range of projects, including both personal and commercial endeavors. Whether you're building a professional portfolio, launching a startup, or creating a marketing website, AstroWind has you covered.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What level of coding knowledge is required to use AstroWind?',
        description:
          'While some familiarity with HTML, CSS, and web development concepts is helpful, the user-friendly interface and customization options allow those with limited coding experience to create impressive websites. For more advanced users, AstroWind offers extensive customization capabilities.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AstroWind users seeking guidance?',
        description: `Absolutely, our dedicated customer support team is here to assist you with any questions or challenges you may encounter. Feel free to reach out to us through our support channels, and we'll be happy to provide the help you need.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-100 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
   ******************* -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Start your digital journey with a free AI-enabled website or chatbot!"
    callToAction={{
      text: 'Contact us',
      href: '/contact',
    }}
    items={[
      {
        title: 'Email',
        description: 'team@edvanceai.org',
        icon: 'tabler:mail',
      },
      {
        title: 'Call',
        description: '+1 (240) 425-9549',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow',
        description: '@edvanceai',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

</Layout>


